encryption = "age"
useBuiltinAge = true

[data]
profile = "personal"

[diff]
# pager = "delta"
exclude = ["scripts"]

[status]
exclude = ["scripts"]

[age]
identity = "{{ .chezmoi.homeDir }}/.config/chezmoi/age.txt"
recipient = "age18ef23m6cq0nyuc06jhcf90am7z6t5e4rg9rsv43ehj7hj602s5gsm990wt"
