encryption = "age"
useBuiltinAge = true

[data]
profile = "personal"

[diff]
# pager = "delta"
exclude = ["scripts"]

[status]
exclude = ["scripts"]

[age]
identity = "{{ .chezmoi.homeDir }}/.config/chezmoi/age.txt"
recipient = "age12uk62cmn0p4v645hfw8zffs0aeknqu6uvn9xf0qpylyd7kmlnd9s8s765f"
