{{ if and (eq .chezmoi.os "linux") .features.nvim }}
{{ $private := include ".chezmoitemplates/private.toml.age" | decrypt | fromToml }}

[".config/nvim"]
    type = "git-repo"
    url = "{{ $private.repos.nvim }}"
    branch = "main"
    refreshPeriod = "72h"
    # optional: shallow clone
    # clone.args = ["--depth=1"]

{{ end }}
