{{ if and (eq .chezmoi.os "linux") .features.tmux }}

[".config/tmux/plugins/tpm"]
    type = "git-repo"
    url = "{{ .repos.third_party.tpm }}"
    branch = "master"
    refreshPeriod = "168h"

{{ end }}
